Django~=3.2.6
astropy~=4.3.1
pyparsing~=2.4.7
django_debug_toolbar~=3.2.2
djangorestframework~=3.12.4
django-filter~=2.4.0
mysqlclient~=2.0.3
slumber~=0.7.1
ffmpeg-python~=0.2.0

# Currently used for generating static and animated previews.
# Likely not going to be relevant in the future if the
matplotlib~=3.4.3

# django-allauth required to provide a more mature account management
# flow, with registration that requires email verification, etc.
django-allauth~=0.45.0

# django-recaptcha is used in tandem with allauth to provide a sign up experience
# that adds a measure of protection against bots.
django-recaptcha~=2.0.6

# django-cleanup is used to purge obsolete files that have been replaced during re-ingestion.
# This ensures that the `media/` directory doesn't grow uncontrollably.
django_cleanup~=5.2.0
