{% extends "frontend/base.html" %}

{% block title %}&mdash; Sign out{% endblock %}

{% block full_width_content %}
<div class="container col-6 align-self-center border p-5 bg-white rounded">

<h2 class="mb-5">Sign Out</h2>

<p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}

    <button class="btn btn-primary" type="submit">Sign Out</button>
</form>

</div>

{% endblock %}
