{% extends "frontend/base.html" %}

{% block title %}&mdash; Change Password{% endblock %}

{% block full_width_content %}
<div class="container col-6 align-self-center p-5 border bg-white rounded">

    <h2 class="mb-5">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used.
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}

                <table class="table table-borderless">
                    {{ form.as_table }}
                </table>

                <input class="btn btn-primary float-end" type="submit" name="action" value="Change Password"/>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
