{% extends "frontend/base.html" %}

{% block full_width_content %}
<div class="container col-5 mt-5 mb-5">

    <h2>Please Verify Your E-mail Address</h2>

    <div class="mt-5">

        <p>We recurrently verify email accounts to ensure that new users have a working email address and that
            existing users are still active.</p>

        <p>We have sent an e-mail to you for verification. Follow the link provided to finalize verification
            process. Please contact us if you do not receive it within a few minutes.</p>
    </div>
</div>
{% endblock %}
