{% extends "frontend/base.html" %}

{% block sidebar %}
{% endblock %}

{% block full_width_content %}
<div class="container col-6">

    <h2>Login</h2>
    
    {% if request.GET.login_reason %}
    <div class="alert alert-primary">
        {{ request.GET.login_reason }}
    </div>
    {% endif %}

    <div class="container mt-5">

        {% if form.errors %}
        <div class="alert alert-danger">
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}


        <form method="POST" action="{% url 'login' %}">
            <table class="table table-borderless">
                {% csrf_token %}
                {{ form.as_table }}
            </table>

            <input type="hidden" name="next" value="{{ next }}">

            <button class="btn btn-primary" type="submit">Log in</button>

        </form>

    </div>
</div>
{% endblock %}
