{% extends "frontend/base.html" %}

{% load account %}

{% block full_width_content %}
<div class="container col-5 mt-5">

    <h2>Account Profile for {% user_display user %}</h2>

    <div class="mt-5">

        <table class="table table-borderless">
            <tr>
                <td>Full name:</td>
                <td>{% user_display user %}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Registered as a Swedish user:</td>
                <td>{{ swedish_user }}</td>
            </tr>
            <tr>
                <td>Affiliation:</td>
                <td>{{ user.profile.affiliation }}</td>
            </tr>
        </table>

    </div>
</div>
{% endblock %}



