{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    html {
        font-size: 14px;
    }

    </style>

    <title>Stockholm SST Archive Prototype {% block title %}{% endblock %}</title>
</head>

<body>
<div id="main-container" class="container">

    <header class="row mb-5">
        <div class="row">
            <h1 class="col-8 mt-3 display-4"><a style="color: #000000; text-decoration: none" href="{% url 'search' %}">Stockholm SST
                Archive <span class="text-muted"><sup>Prototype</sup></span></a></h1>

            {% if user.is_authenticated %}
            <div class="col text-right float-right">
                <small>
                    Logged in as <i>{{ user.email }}</i>
                    <p>
                        {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Log out</a>
                    </p>
                </small>
            </div>
            {% else %}
            <div class="col-4 text-right">
                <!--
                // Disable the login stuff for now. Once we know more about how access control should work we can
                // create a proper solution.
                <small>
                    <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Log in</a>
                    <a href="{% url 'register' %}">Register</a>
                </small>
                -->
            </div>
            {% endif %}
        </div>
    </header>

    <div class="row">
        <div id="sidebar" class="col-3 bg-light p-3 border">
            {% block sidebar %}
            {% include "frontend/search_sidebar.html" %}
            {% include "frontend/feedback_sidebar.html" %}
            {% endblock %}
        </div>

        <div id="content" class="col-9 ml-5 offset-0">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>
