{% load static %}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-icons.css' %}">

    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    {% endblock %}

    <style>
    html {
        /* A default font size of 14 px gives us more screen real-estate for content without feeling too cramped. */
        font-size: 14px;
    }

    body {
        /* Enforce stable scroll bars. This is just a workaround for the bootstrap HTML+CSS not being 100% correct.
           We should be able to remove this if we fix the underlying cause. */
        overflow-x: hidden;
        overflow-y: scroll;
    }
    </style>

    <title>Stockholm SST Archive Prototype {% block title %}{% endblock %}</title>
</head>

<body>
<div id="main-container" class="container-fluid p-0">
    <div class="row min-vh-100 justify-content-center" style="flex-flow: column">

        <header class="row bg-dark text-white">
            {% include "frontend/header.html" %}
        </header>

        <div class="row flex-grow-1 bg-light">
            {% block full_width_content %}
            <div class="container row gx-5">
                <div id="sidebar" class="col-3 p-4 border-end mw-25 py-5" style="background-color: #efefef">
                    {% block sidebar %}
                    {% include "frontend/search_sidebar.html" %}
                    {% endblock %}
                </div>

                <div id="content" class="col-9 ml-5 offset-0 my-5">
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>

        <footer class="row bg-dark text-white">
            {% include "frontend/footer.html" %}
        </footer>

    </div>
</div>

<script src="{% static 'frontend/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>

<script>
/* Small helper script to defer loading of images. */
function init() {
  var deferredImages = document.getElementsByTagName('img');
  for (let deferredImage of deferredImages) {
  if (deferredImage.getAttribute('data-src')) {
      deferredImage.setAttribute('src', deferredImage.getAttribute('data-src'));
      deferredImage.setAttribute('data-src', '');
    }
  }
}

window.addEventListener('load', init);

// Activate all Bootstrap tooltips.
const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
</body>
</html>
