{% extends "frontend/base.html" %}

{% load static %}

{% block title %}- {{ data_cube.oid }}{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="container">

    {% if metadata %}

    <div class="row">
        <h3>Observation Details</h3>

        <div class="mb-5 col-6" style="position: relative; overflow: hidden">
            <figure class="figure">
            {% if data_cube.animated_preview %}
            <img src="{% static data_cube.animated_preview.animated_gif %}" style="position: absolute; margin: auto; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px;" />
            {% elif data_cube.previews %}
            <img src="{{data_cube.previews.full_size.url}}" style="position: absolute; margin: auto; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px;" />
            {% endif %}
            </figure>
        </div>

        <div class="mb-5 col-6 ">
            <table class="table" style="table-layout: fixed">
                <tr>
                    <td>Features:</td>
                    <td>
                        {% for tag in data_cube.tags.all %}
                        <span class="badge bg-info">{{ tag }}</span>
                        {% empty %}
                        -
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Observation began:</td>
                    <td>{{ metadata.date_beg }}</td>
                </tr>

                <tr>
                    <td>Observation ended:</td>
                    <td>{{ metadata.date_end }}</td>
                </tr>

                <tr>
                    <td>Instrument:</td>
                    <td>{{ data_cube.instrument.name }}</td>
                </tr>
                <tr>
                    <td>Spectral Line:</td>
                    <td>{{ metadata.filter1 }} Å ({{ metadata.waveband }})</td>
                </tr>

                <tr>
                    <td>Download:</td>
                    <td>
                    <a class="btn btn-primary" href="{% url 'download_data_cube' data_cube.filename %}"><i class="bi bi-download"></i> Download FITS data cube ({{ data_cube.size|filesizeformat }})</a>
                        <small class="text-muted">{{ data_cube.filename }}</small>
                    </td>
                </tr>
            </table>
        </div>

        <div class="mt-5 col-4">
        </div>
    </div>

    <div class="container">
        {% if r0_json_data %}
        <div class="mb-5">
            <h4>r<sub>0</sub></h4>
            {% include "frontend/data_cube_detail/r0graph.html" %}
        </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="accordion" id="metadata-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  All FITS Metadata
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#metadata-accordion">
              <div class="accordion-body">
                <table class="table table-hover col-lg-8" style="table-layout: fixed">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Keyword</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in metadata_fields.items %}
                    {% if value is not None %}
                    <tr>
                        <th scope="row">{{ key }}</th>
                        <td class="overflow-auto">{{ value }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>Specified metadata not found.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

    </div>
</div>

{% endblock %}
