{% extends "frontend/base.html" %}

{% load static %}

{% block title %}- {{ data_cube.oid }}{% endblock %}

{% block content %}

<div class="container">

    {% if metadata %}

    <div class="row">
        <h3>Preview of {{ data_cube.filename }}</h3>
        <div class="mb-5 col-8">
            {% if data_cube.animated_preview %}
            <img src="{% static data_cube.animated_preview.animated_gif %}" />
            {% elif data_cube.thumbnail %}
            <img src="{% static data_cube.thumbnail.image_url %}" />
            {% endif %}
        </div>

        <div class="mt-5 col-4">
            <div class="card">
                <div class="card-body row">
                    <a class="text-center card-link" href="{% url 'download_data_cube' data_cube.filename %}">
                        <button class="btn btn-primary"><i class="bi bi-download"></i> Download FITS data cube</button>
                    </a>
                    <span class="text-center">{{ data_cube.size|filesizeformat }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Metadata</h3>
    <table class="table table-hover col-lg-8" style="table-layout: fixed">
        <thead class="thead-light">
        <tr>
            <th scope="col">Keyword</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in metadata_fields.items %}
        {% if value is not None %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td class="overflow-auto">{{ value }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Specified metadata not found.</p>
    {% endif %}
    </div>

</div>

{% endblock %}
