<div class="container row pb-5 px-5">
    <div class="col-2 align-self-start container">
        <h4 class="fw-light mt-5 mb-5">Contact the Stockholm SST Archive</h4>

        <p>Have opinions or suggestions about the Stockholm SST Archive?</p>

        <p>Feel free to reach out with your feedback to
            <a href="mailto:{{ contact_email }}?subject=Stockholm SST Archive - Feedback">{{ contact_email }}</a>.
        </p>
    </div>

    <div class="col-2 align-self-start container">
        <h4 class="fw-light mt-5 mb-5">EU Project Information</h4>

        <p>Placeholder text that should mention the EU project that this database is part of.</p>

        <p></p>
    </div>

    <div class="col-2 align-self-start container">
                        <h4 class="fw-light mt-5 mb-5">Any other info</h4>

    </div>
</div>
