{% load account %}

<div class="container">

    <div class="row justify-content-between py-3">
        <h1 class="col flex-grow-0 px-5 mt-3 display-4 fs-1 fw-lighter text-nowrap">
            <a class="text-decoration-none text-white" href="{% url 'landing_page' %}">Stockholm SST
            Archive <span class="text-muted fw-light"><sup><small>&alpha;lpha</small></sup></span></a>
        </h1>

        <nav class="navbar col">
            <ul class="nav fs-5 py-2">
              <li class="nav-item">
                <a class="nav-link text-secondary" href="{% url 'search' %}">Search</a>
              </li>
            </ul>
        </nav>

        <div class="col flex-grow-0 row flex-nowrap justify-content-end align-items-center gx-3">
        {% if user.is_authenticated %}
            <div class="col text-nowrap fw-bold">
                <a class="text-decoration-none text-white" href="{% url 'account_profile' %}">{% user_display user %}</a>
            </div>

            {% if user.is_staff %}
            <div class="col text-nowrap">
                <a class="btn btn-light rounded-pill" href="{% url 'admin:index' %}"><i class="bi bi-pen-fill"></i> Admin</a>
            </div>
            {% endif %}

            <div class="col text-nowrap">
                <a class="btn btn-light rounded-pill" href="{% url 'account_logout' %}"><i class="bi bi-door-open-fill"></i> Sign out</a>
            </div>
        {% else %}
            <div class="col text-nowrap">
                <a class="btn btn-light rounded-pill" href="{% url 'account_login' %}?next={{ request.get_full_path|urlencode }}"><i class="bi bi-person-fill"></i> Sign in</a>
            </div>

            <div class="col text-nowrap">
                <a class="btn btn-light rounded-pill" href="{% url 'account_signup' %}"><i class="bi bi-pen-fill"></i> Sign up</a>
            </div>
        {% endif %}
        </div>
    </div>
</div>
