{% extends "frontend/base.html" %}

{% load static %}

{% block title %}- {{ data_cube.oid }}{% endblock %}

{% block head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}

<script src="{% static 'frontend/js/apexcharts.js' %}"></script>

<div class="container">

    <!-- TODO: Decide if we need breadcrumbs or not. -->
    <!--
    <nav aria-label="breadcrumb" class="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'landing_page' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'search' %}">Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">Observation Details</li>
        </ol>
    </nav>
    -->

    {% if metadata %}

    <div class="row">
        <h3 class="fw-light mb-5">Observation Details</h3>

        <div class="mb-5 col-6" style="position: relative; overflow: hidden">
            {% if data_cube.video_preview or data_cube.previews %}
            <h5>Preview</h5>

            <figure class="figure">
                {% if data_cube.video_preview and data_cube.video_preview.video_core %}
                <div class="video-container">
                    <div class="video-inlay" style="position: relative">
                        <video id="video-core" class="mw-100 rounded" poster="{{data_cube.previews.full_size.url}}"
                               src="{{data_cube.video_preview.video_core.url}}" loop muted playsinline></video>
                        <div id="video-core-play-button">
                            <div style="cursor: pointer; text-shadow: 0 0 2px rgb(0, 0, 0); color: rgb(230, 230, 230); position: absolute; left: 5px; bottom: 0px; font-size: 40px"
                                 onclick="const video = document.getElementById('video-core'); video.play(); video.controls = true; const playButton = document.getElementById('video-core-play-button'); playButton.style.display = 'None';"
                                 class="bi bi-play-circle-fill"></div>
                        </div>
                    </div>
                </div>
                {% elif data_cube.previews and data_cube.previews.full_size %}
                <img class="mw-100 rounded" src="{{data_cube.previews.full_size.url}}"/>
                {% endif %}
            </figure>
            {% else %}
            <img class="mw-100 rounded" src="{% static 'frontend/images/default-thumbnail.png' %}"/>
            {% endif %}
        </div>

        <div class="mb-5 col-6 ">
            {% include "frontend/observation_details/observation_attributes.html" %}
        </div>
    </div>

    <div class="row border rounded bg-white mb-5 p-3 gx-0">
        {% if r0_json_data %}
        <figure class="col-6">
            <h5 class="text-center">Seeing (r<sub>0</sub>)</h5>
            {% include "frontend/observation_details/r0_graph.html" %}
        </figure>
        {% else %}
        <figure class="col-6 row" style="height: 200px">
            <h5 class="text-center align-self-center">No seeing information available</h5>
        </figure>
        {% endif %}

        {% if spectral_line_data %}
        <figure class="col-6">
            <h5 class="text-center">Spectral Line Profile</h5>
            {% include "frontend/observation_details/spectral_line_profile_graph.html" %}
        </figure>
        {% else %}
        <figure class="col-6 row" style="height: 200px">
            <h5 class="text-center align-self-center">No spectral line profile available</h5>
        </figure>
        {% endif %}
    </div>

    {% if overlapping_observations %}
    <div class="row mb-5 p-3 gx-0">
        {% include "frontend/observation_details/related_observations.html" %}
    </div>
    {% endif %}

    <div class="row mb-5">
        {% include "frontend/observation_details/fits_metadata.html" %}
    </div>

    {% else %}
    <p>Specified metadata not found.</p>
    {% endif %}
</div>

{% endblock %}
