{% load selection_tags %}

<div class="selection-sidebar row mb-5">
    <h4>Selection</h4>

    {% if selection_list %}

    <table class="table row overflow-hidden" style="table-layout: fixed">
        {% for selection in selection_list %}
        <tr>
            <td>{% show_selection_control selection.filename True %}</td>
            <td style="max-width: 14em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><small><a
                    href="{% url 'file_detail' selection.filename %}">{{ selection.filename }}</a></small>
            </td>
            <td><a href="{% url 'download_data_cube' selection.filename %}"><i class="bi bi-download"></i></a>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

    <div class="row mt-2">
        <a href="{% url 'download_selected_data' %}">
            <button class="btn btn-secondary">
                <i class="bi bi-file-earmark-arrow-down"></i> Download Archive
            </button>
        </a>
    </div>

    {% else %}
    <p><i>No observations selected yet.</i></p>

    <p><small>Search or browse for observations to add to your selection to create a compressed archive of those data
        cubes.</small></p>
    {% endif %}
</div>