body {
    background: rgb(240, 240, 240);
    font-family: sans-serif;
}

#main-container {
    margin: 2em;
}

#content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
}

#sidebar {
    min-width: 300px;
    min-height: 400px;
}

#content {
    flex-grow: 1;
}

.table-list {
    table-layout: fixed;
    max-width: 600px;
    width: 600px;
    background: white;
    border: 1px solid #ccc;
}

.table-list thead {
    margin: 1em;
}

.table-list tr {
    border-bottom: 1px solid #aaa;
}

.table-list tr td {
    overflow: hidden
}

.download-pane {
    padding: 2em;
    background: white;
    border: 1px solid #ccc;
    margin: 1em;
}
