<div id="r0-chart"></div>

{% autoescape off %}
<script>
window.addEventListener('load', function() {
    const jsonData = {{ r0_json_data }};

    if (!jsonData) {
        return;
    }

    let dataLow = [];
    let dataLowHigh = [];

    const jsonVersion = jsonData['version'];

    dataLow = jsonData['data']['r0_low'];
    dataLowHigh = jsonData['data']['r0_low_high'];

    dateBeg = [];
    dateEnd = [];
    scans = jsonData['data']['scannum'];

    const annotations = [];

    if (jsonVersion === 4) {
        for (let date of jsonData['data']['date_beg']) {
            dateBeg.push([date, 0.01]);
        }

        for (let date of jsonData['data']['date_end']) {
            dateEnd.push([date, 0.01]);
        }

        /*
         * These annotations are kind of useful for marking up regions in the plot,
         * like those for scan [began,ended]. However, they aren't really that
         * great for displaying the amount of regions that we usually end up with,
         * so the result ends up looking very cluttered, and we also don't get any
         * tooltips.
         */
         /*
         for (let i = 0; i < jsonData['data']['date_beg'].length; i++) {
            annotations.push({
                x: jsonData['data']['date_beg'][i],
                x2: jsonData['data']['date_end'][i],
                fillColor: '#B3F7CA',
                label: {
                    text: 'Scan ' + scans[i]
                }
            });
         }*/
    }

    var options = {
      colors: ['#00aa00', '#000000', '#4477ff', '#ff4477'],
      chart: {
        width: '100%',
        height: '350px',
        animations: {
          enabled: false,
        }
      },
      series: [{
          name: 'Low Altitude Seeing',
          type: 'line',
          data: dataLow
        },{
          name: 'Low + High Altitude Seeing',
          type: 'line',
          data: dataLowHigh
        },{
          name: 'Scan Began',
          type: 'scatter',
          data: dateBeg
        }, {
          name: 'Scan Ended',
          type: 'scatter',
          data: dateEnd
      }],
      markers: {
        size: [0, 0, 4, 4]
      },
      /*
      annotations: {
        xaxis: annotations
      },*/
      xaxis: {
        type: 'datetime',
        title: {
          text: 'Time',
          style: {
              fontSize: '12px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 600,
              cssClass: 'apexcharts-yaxis-title',
          },
        },
      },
      yaxis: [{
        tickAmount: 5,
        min: 0.00,
        max: 0.25,
        forceNiceScale: true,
        decimalsInFloat: 2,
        title: {
          text: 'r0 (m)',
          style: {
              color: undefined,
              fontSize: '12px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 600,
              cssClass: 'apexcharts-yaxis-title',
          },
        },
      }],
      grid: {
        show: true,
        strokeDashArray: [4, 4],
        position: 'back',
        xaxis: {
            lines: {
                show: true
            }
        },
      },
      stroke: {
        width: [2, 2]
      },
      legend: {
        height: 40
      },
      tooltip: {
        x: {
          format: "HH:mm:ss.fff",
        },
        custom: function({ series, seriesIndex, dataPointIndex, w }) {
          if (w.globals.seriesNames[seriesIndex] === 'Scan Began' ||
              w.globals.seriesNames[seriesIndex] === 'Scan Ended') {
            return (
              '<div style="background: rgba(0, 0, 0, 0.6); color: #f0f0f0; padding: 0.3em 0.5em;" class="">' +
              w.globals.seriesNames[seriesIndex] + ': ' + scans[dataPointIndex] +
              '</div>');
          }

          return (
            '<div style="background: rgba(0, 0, 0, 0.6); color: #f0f0f0; padding: 0.3em 0.5em; ">' +
            '<span style="display: inline-block; margin-right: 0.3em; background: ' + w.globals.colors[seriesIndex] + '; border: 1px solid #fff; border-radius: 5px; width: 10px; height: 10px"></span>' +
            w.globals.seriesNames[seriesIndex] +
            ": " +
            series[seriesIndex][dataPointIndex].toFixed(5) +
            "</div>"
          );
        }
      }
    }

    var chart = new ApexCharts(document.querySelector("#r0-chart"), options);
    chart.render();
});

</script>
{% endautoescape %}
