<div id="spectral-line-profile-chart"></div>

{% autoescape off %}
<script>

window.addEventListener('load', function() {
    const jsonData = {{ spectral_line_data }};

    if (!jsonData) {
        return;
    }

    const jsonVersion = jsonData['version'];

    const amplitudeData = [];
    const wavelengths = jsonData['data']['wavelengths'];

    let logged = false;

    const seriesData = [];

    if (jsonVersion === 3) {
        const data = [];

        const amplitudeValues = jsonData['data']['amplitude_values'];

        for (let i = 0; i < amplitudeValues.length; i++) {
            data.push([ wavelengths[i], amplitudeValues[i] ]);
        }

        const series = {
            name: 'Scan Average',
            type: 'line',
            data: data
        };

        seriesData.push(series);
    }

    var options = {
      chart: {
        width: '100%',
        height: '350px',
        animations: {
          enabled: false,
        },
        type: 'scatter'
      },
      colors: ['#ff0000'],
      series: seriesData,
      markers: {
        size: [5],
        strokeColors: '#ff0000',
        fillOpacity: 0,
        strokeWidth: 2,
      },
      xaxis: {
        type: 'numeric',
        decimalsInFloat: 2,
        title: {
          text: 'Wavelength (nm)',
          style: {
              fontSize: '12px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 600,
              cssClass: 'apexcharts-yaxis-title',
          },
        },
      },
      yaxis: [{
        forceNiceScale: true,
        decimalsInFloat: 2,
        title: {
          text: 'TODO',
          style: {
              color: undefined,
              fontSize: '12px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 600,
              cssClass: 'apexcharts-yaxis-title',
          },
        },
      }],
      grid: {
        show: true,
        strokeDashArray: [4, 4],
        position: 'back',
        xaxis: {
            lines: {
                show: true
            }
        },
      },
      stroke: {
        width: [1],
      },
      legend: {
        showForSingleSeries: true,
        height: 40
      },
      tooltip: {
        enabled: false,
        shared: false
      }
    }

    var chart = new ApexCharts(document.querySelector("#spectral-line-profile-chart"), options);
    chart.render();
});

</script>
{% endautoescape %}
