{% extends "frontend/base.html" %}

{% block title %}SST Archive - Restricted Download{% endblock %}

{% block content %}

<h2>Content is restricted</h2>

{% if release_comment %}
<p>{{ release_comment }}</p>
{% endif %}

<p>A valid access token is required to access this observation data cube <i>{{ data_location.file_name }}</i>.</p>

<form method="POST" action="{{ request.path }}">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.token.errors }}
    </div>
    {% endif %}

    <label for="id_subject">Token:</label>
    <input id="id_subject" class="form-control", style="font-family: monospace" type="text" name="token"
           maxlength="30" required>

    <div class="text-right">
        <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-file-earmark-arrow-down"></i> Download with Token</button>
    </div>
</form>

{% endblock %}
